.git/
.idea/
.python_venv/
.direnv/
venv/
containers/backend/venv/
build/
npmtmp/
**/node_modules
node_modules/
wywrota-download/
imported_songs_20241004/
*.epub
**/__pycache__
.DS_Store
.secrets
songs-index/
_site/
test_output.pdf
.env
editor/
editor-github/
editor-github-pr-proxy/
