/* --- General Body and Typography --- */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 1.5em;
}

h1 {
    font-size: 1.8em;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

h2 {
    color: #343a40;
    border-bottom: 2px solid #dee2e6;
    padding-bottom: 0.5em;
    margin-top: 2em;
    font-weight: 500;
}

a {
    color: #0056b3;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #007bff;
    text-decoration: underline;
}

/* For small screens */

@media (max-width: 758px) {
    body {
        padding: 0.7em;
    }

    h2 {
        font-size: 1.5em;
    }
    
    a {
        font-size: 0.9em;
    }
}

/* --- Top Navigation --- */
div.top-navigation, div.bottom-navigation {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on small screens */
    gap: 1em;
    align-items: center;
}

div.top-navigation a, div.bottom-navigation a {
    font-weight: 500;
}

div.bottom-navigation {
    margin-top: 2em; /* Separate bottom navigation from content */
}
div.top-navigation {
    margin-bottom: 2em;
}

/* Hide top navigation on printouts*/
@media print {
    div.top-navigation, div.bottom-navigation {
        display: none;
    }
}