@import url('song_common.css');

.line {
   vertical-align: top; 
}

.chord-stack {
   /* position: relative;*/
    width: 0px;
    bottom: 100%;
    height: 2em;
    top: -2ex;
    display: inline-block;
    vertical-align: bottom;
}

.chord {
    color: #2c5aa0;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 0px;
    padding-right: 0.2em;
    font-size: small;
}

.chord[aria-hidden="true"] {
    display: none;
}

.sidechords {
    float: right;
    margin-left: 1em;
}

.sidechords .chord {
    margin-left: 0.5em;
}