@import url('common.css');
/* This CSS is included both: In EPUB version as well as the regular HTML version */

body {
  font-family: sans-serif;
}

h1 {
  text-align: left;
}

span.content_creator {
  margin-top: 0.0em;
  font-style: italic;
  font-weight: bold;
  font-size: small;
}