@import url('song_common.css');

.lyric {
   display: block;
   color: green;
}

.chord-stack {
    width: 0px;
    bottom: 100%;
    height: 2em;
    top: -2ex;
    display: inline-block;
    vertical-align: bottom;
}

.chord {
    color: #2c5aa0;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 0px;
    padding-right: 0.2em;
    font-size: small;
}

.chord[aria-hidden="true"] {
    display: none;
}

.sidechords {
    float: right;
    margin-left: 1em;
}

.sidechords .chord {
    margin-left: 0.5em;
}

.verse {
    display: grid;
    grid-template-columns: auto 1fr auto;  /* chords | lyric | bis */
    gap: 0.5em;
    margin: 1em 0;
}

.chords {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: #2c5aa0;
    font-weight: bold;
}

.bis {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bis_inactive {
    visibility: hidden;
}